title: Vinicius
email: vinicius.santos927@outlook.com
description: >- # this means to ignore newlines until "baseurl:"
  Site criado para divulgar os meus trabalhos, tanto os produtivos quanto os improdutivos.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://vinicius.qsl.br" # the base hostname & protocol for your site, e.g. http://example.com
github_username:  FlightSimEnjoyer

# Build settings
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
